<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LuaCTF</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="LuaCTF - Hacking Competition">
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <style>:root{--bg:#111;--accent-bg:#1b1b1b;--accent:#f09320;--text:#dcdcdc;--text-light:#ababab;--code:#f06292;--preformatted:#ccc;--disabled:#111;scrollbar-gutter:stable;}article{background-color:var(--accent-bg);}</style>
    </head>
    <body>
        <header>
            <h1>LuaCTF - Hacking Competition</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/users">Users</a>
                <a href="/scoreboard">Scoreboard</a>
                <a href="/challenges">Challenges</a>
<!-- TEMPLATE -->
            </nav>
        </header>
        <main>
<!-- TEMPLATE -->
        </main>
        <footer>
            <p>LuaCTF - Created by Ernest Gupik (<a href="https://eg-zine.cf">eg-zine.cf</a>). Powered by LuaCTF (self made CTF platform).</p>
        </footer>
    </body>
</html>
