<h2>Create an account</h2>
<form action="/register_user/" method="GET">
    <p>
    <label>Username</label>
    <input type="text" name="username" required="">
    </p>

    <p>
    <label>Email</label>
    <input type="email" name="email" required="">
    </p>

    <p>
    <label>Password</label>
    <input type="password" name="password" required="">
    </p>

    <p>
    <label>Confirm password</label>
    <input type="password" name="confirm_password" required="">
    </p>

    <input type="submit" value="Submit"></input>
</form>
